<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/styles/usuario.css">
</head>
<body>
    <div class="login-container">
        <form action="/efetuar_cadastro" method="POST" enctype="multipart/form-data">
            <h1 class="titulo">CADASTRE-SE</h1>
            
            <div class="input-group">
                <input type="text" id="name" name="nome" placeholder="NOME:" required>
            </div>
            
            <div class="input-group">
                <input type="text" id="username" name="usuario" placeholder="USUÁRIO:" required>
            </div>
            
            <div class="input-group"> 
                <input type="password" id="password" name="senha" placeholder="SENHA:" required>
            </div>

            <div>
                <input type="file" name="imagem" id="avatar" accept="image/*" required>
                <label for="imagem" class="input-file-label"></label>
            <div>
            <br>

            <button type="submit">CADASTRAR</button>
            
        </form>
    </div>
</body>
</html>
