<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Fornecedor</title>
    <link rel="stylesheet" href="/static/styles/fornecedor.css">

    <script>
        async function preencherEndereco() {
            const cep = document.getElementById('cep').value.replace(/\D/g, ''); // Remove caracteres não numéricos
            if (cep.length !== 8) {
                alert('CEP inválido!');
                return;
            }
            
            const response = await fetch(`https://viacep.com.br/ws/${cep}/json/`);
            const data = await response.json();

            if (!data.erro) {
                document.getElementById('endereco').value = data.logradouro;
                document.getElementById('cidade').value = data.localidade;
                document.getElementById('estado').value = data.uf;
            } else {
                alert('CEP não encontrado!');
            }
        }

        function formatarCNPJ(cnpj) {
            cnpj.value = cnpj.value.replace(/\D/g, "") 
                                 .replace(/(\d{3})(\d)/, "$1.$2") 
                                 .replace(/(\d{3})(\d)/, "$1.$2") 
                                 .replace(/(\d{3})(\d)/, "$1/$2")
                                 .replace(/(\d{3})(\d{1,2})$/, "$1-$2");
        }

        function formatarTelefone(telefone) {
            telefone.value = telefone.value.replace(/\D/g, "")
                                           .replace(/^(\d{2})(\d)/, "($1) $2") 
                                           .replace(/(\d{5})(\d)/, "$1-$2") 
                                           .replace(/(-\d{4})\d+?$/, "$1"); // Limita ao formato (XX) XXXXX-XXXX
        }
    </script>
    <style>
        /* CSS para posicionar a imagem no canto superior esquerdo */
        .avatar {
            position: fixed;
            top: 10px;
            left: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        
    </style>
</head>
<body>
    <img class="avatar" src="static/assets/{{ usuario[4] }}" alt="" style="width: 40px;">

 

    <header>
        <nav>
            <ul>
                <li><a href="/cliente">Cadastrar Clientes</a></li>
                <li><a href="/consultaclie">Consultar Clientes</a></li>
                <li><a href="/fornecedor">Cadastrar Fornecedores</a></li>
                <li><a href="/consultafor">Consultar Fornecedores</a></li>
                <li><a href="/">Sair</a></li>
            </ul>
        </nav>
    </header>

    <div class="login-container">
        <h1>CADASTRAR FORNECEDORES</h1>
        <p>Preencha os dados abaixo para cadastrar:</p>
        <form action="/fornecedor" method="POST">
        <!-- Primeira linha de colunas -->
            <div class="form-row">
            <div class="form-col">
            <div class="input-group">
                <input type="text" id="nome" name="nome" placeholder="NOME COMPLETO:" required>
            </div>
            </div>
            <div class="form-col">
            <div class="input-group">
                <input type="text" id="telefone" name="telefone" placeholder="TELEFONE:" oninput="formatarTelefone(this)" required>
            </div>
            </div>
            </div>
    
            <!-- Segunda linha de colunas -->
            <div class="form-row">
                <div class="form-col">
                    <div class="input-group">
                        <input type="text" id="email" name="email" placeholder="E-MAIL:" required>
                    </div>
                </div>
                <div class="form-col">
                    <div class="input-group">
                        <input type="text" id="cnpj" name="cnpj" placeholder="CNPJ:" oninput="formatarCNPJ(this)" required>
                    </div>
                </div>
            </div>
    
                <!-- Terceira linha de colunas -->
            <div class="form-row">
                <div class="form-col">
                    <div class="input-group">
                        <input type="text" id="cep" name="cep" onblur="preencherEndereco()" placeholder="CEP:" required>
                    </div>
                </div>
                <div class="form-col">
                    <div class="input-group">
                        <input type="text" id="endereco" name="endereco" placeholder="ENDEREÇO:" required>
                    </div>
                </div>
            </div>
    
            <!-- Quarta linha de colunas -->
            <div class="form-row">
                <div class="form-col">
                    <div class="input-group">
                        <input type="text" id="cidade" name="cidade" placeholder="CIDADE:" readonly required>
                    </div>
                </div>
                <div class="form-col">
                    <div class="input-group">
                        <input type="text" id="estado" name="estado" placeholder="ESTADO:" readonly required>
                    </div>
                </div>
            </div>
            <div class="form-col">
                <div class="input-group">
                    <input type="date" id="data" name="data" >
                </div>
            </div>
    
                <button type="submit">Cadastrar</button>
                
            </form>
        </div>

</body>
</html>

    
