@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --fonte-principal: "Oswald", sans-serif;
    --fonte-titulo: "Playfair Display", sans-serif;
    --cor-texto: #B8C1FF;
    --cor-botao: #465ACB;
    --cor-botao-hover: #3548a2;
    --cor-borda-selecionada: #e9e9e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/static/assets/imagem_fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--fonte-principal);
    color: var(--cor-texto);
}

h2{
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    color: var(--cor-texto);
    margin-bottom: 1.5rem;
    margin-top: -450px;
    margin-left: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 1000px;
    margin-left: -380px;
}

.avatar-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 100px;
    padding: 20px ;
    width: 1000px;
}

.avatar {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.2s, border 0.2s;
    border: 2px solid transparent;
}

.avatar:hover {
    transform: scale(1.1);
}

.avatar.selected {
    border: 3px solid var(--cor-borda-selecionada);
}

button {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 15px;
    background-color: var(--cor-botao);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--fonte-principal);
    margin-top: 4rem;
}

button:hover {
    background-color: var(--cor-botao-hover);
}
