@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --fonte-principal: "Oswald", sans-serif;
    --fonte-titulo: "Playfair Display", sans-serif;

    --cor-principal: #B8C1FF;
    --cor-link: #539dd4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/static/assets/imagem_fundo.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #B8C1FF;
}

header nav {
    width: 100%;
    text-align: center;
    margin-bottom: 3.5rem;
}

header nav ul {
    list-style-type: none;
    display: inline-flex;
    gap: 1.5rem;
    left: 360px;
    top: -1%;
    position: fixed;
    margin-top: 40px;
}

header nav ul li a {
    color: var(--cor-principal);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family: var(--fonte-titulo);
}

header nav ul li a:hover {
    color: var(--cor-link); /* Destaca links da navegação ao passar o mouse */
}

.login-container {
    background-color: rgba(24, 38, 102, 0.8);
    padding: 1rem;
    border-radius: 25px;
    text-align: center;
    top: 5.2%;
    position: absolute;
    width: 80%;
    max-width: 700px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
}

.campo-form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex: 0 0 48%;
}

.login-container h1 {
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.login-container p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
    font-family: var(--fonte-principal);
}

.titulo{
    font-family: var(--fonte-titulo);
    font-size: 40px;
    top: 10px;
    align-items: center;
    left: 37%;
    position: fixed;
}

.subtitulo{
    font-size: 30px;
    color: #B8C1FF;
    display: block;
    margin-bottom: 0.3rem;
    font-family: "Oswald", sans-serif;
}

label {
    font-size: 1rem;
    color: #B8C1FF;
    display: block;
    margin-bottom: 0.3rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #465ACB;
    border-radius: 15px;
    background-color: #182666;
    color: #B8C1FF;
    font-size: 1.2rem;
    font-family: var(--fonte-principal);
    font-weight: bold;
}

input::placeholder {
    color: #B8C1FF;
}

button {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 15px;
    background-color: #465ACB;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--fonte-principal);
}

button:hover {
    background-color: #3548a2;
}

/* Layout em duas colunas */
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-col {
    flex: 0 0 48%;
}

.avatar{
    margin-left: 95%;
    margin-top: 1%;
}


