@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --fonte-principal: "Oswald", sans-serif;
    --fonte-titulo: "Playfair Display", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/static/assets/imagem_fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #B8C1FF;
}

.titulo {
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    color: #B8C1FF;
    margin-bottom: 1rem;
    text-align: center;
}

.login-container {
    background-color: rgba(24, 38, 102, 0.8);
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 550px;
}

.input-group {
    margin-bottom: 2rem;
    font-family: var(--fonte-principal);
    text-align: center;
}

label {
    font-size: 1rem;
    color: #B8C1FF;
    display: block;
    margin-bottom: 0.3rem;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #465ACB;
    border-radius: 15px;
    background-color: #182666;
    color: #B8C1FF;
    font-size: 1.2rem;
    font-family: var(--fonte-principal);
    font-weight: bold;
}

input::placeholder {
    color: #B8C1FF;
}

button {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 15px;
    background-color: #465ACB;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--fonte-principal);
}

button:hover {
    background-color: #3548a2;
}

.avatar{
    margin-left: 95%;
    margin-top: 1%;
}
